

pydantic
uvicorn
sqlalchemy
sqlalchemy[mypy]
asyncpg
loguru
jinjasql==0.1.8
Jinja2>=2.5,<3.0
MarkupSafe<2.0
python-dotenv
ldap3
pyjwt
pyhumps
boto3
numpy
pandas
ulid-py
pyyaml
email-validator
python-multipart
aws-xray-sdk
psycopg2-binary
asgi-lifespan==1.0.1

# linter
mypy
pycodestyle